<launch>
  <node name="mos_image_get" pkg="mos_image_get" type="mos_image_get_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <!--
  <node name="image_view2" pkg="image_view2" type="image_view2" respawn="false" output="screen">
    <remap from="image" to="/mos_image_get/compressed_image"/>
    <param name="autosize" value="true" />
  </node>
  -->
</launch>
